body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00ffd5, #613eb1);
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
}



h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:monospace;
    font-size: 3rem;
    margin-top: 100px;
    color:rgb(93, 93, 93);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.calc-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 6px solid rgb(97, 97, 97);
    border-radius: 8px;
    background-color: rgb(100, 100, 100);
    box-shadow: 2px 2px 3px black;
    
    
}
.AC-btn{
    flex-basis:164px;
}
.equals-btn {
    flex-grow: 2;
}
.calc-container:nth-child(n){
    width: 339px;

}


#display{
    border: 2px solid rgb(255, 255, 255);
    width: 318px;
    height: 60px;
    
    font-size: larger;
    background-color: rgb(202, 202, 202);
    padding-right: 15px;
    border-radius: 8px;
    margin-bottom: 2px;
    text-align: right;
    
    overflow: hidden;
    
    
}
.calc-container > button {
    cursor: pointer;
    border: 2px solid white;
    width: 80px;
    height: 50px;
    font-size: 2rem;
    border-radius: 8px;
    margin: 2px;
    
}

button{
    background-color: #b6dadd;
    box-shadow: 2px 2px 3px black;

}
button:active {
    background-color: #7498a7;
    box-shadow: 0 2px rgb(10, 10, 10);
    transform: translateY(2px);
  }